/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*header start*/	
header {
    padding: 30px 0;
}
		/*header end*/
		/*banner start*/
.b_item {
    text-align: center;
}
 .b_h1 {
    font-size: 40px;
    line-height: 48px;
}
.c_form input{
	height: 30px;
	font-size: 14px;
}
.c_form button{
	padding: 5px 10px;
	font-size: 14px;
}
.b_img {
		margin-bottom: 40px;
    padding: 0px 20px;
}
		/*banner end*/

		/*blog start*/
.blog {
    padding: 45px 0 30px 0;
}

.c_h1 {
    font-size: 30px;}
		/*blog end*/
		/*project start*/
.projects{
	padding-bottom:  50px !important;
}
.p_text{
	text-align: center;
}
		/*project end*/
		/*slider start*/
.s_text{
	 text-align: center;
	 margin-top: 25px;
}
.s_p {
    margin: 24px 0 27px !important;    
}
.btn_cm {
    padding: 5px 20px  !important;
}

.li_itm {
    margin:10px 10px 0 10px !important;
}
.s_image{
	 padding: 0px 30px;
}
.s_hd {
    margin-bottom: 35px !important;
}
.s_text h2 {
    font-size: 33px;
}
.li_h2{
	font-size: 40px !important;
}
		/*slider end*/
		/*newsletter start*/
.n_letter{
	margin-top: 0;
}
.news {
    padding-right: 30% !important;}

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){

/*header start*/	
header {
    padding: 30px 0;
}
		/*header end*/
/*banner start*/
.b_item {
    text-align: center;
}
.b_h1 {
    font-size: 50px;
    line-height: 70px;
}
		    
.c_newsletter {
    padding: 0px 30px;}
.b_img {
		margin-bottom: 40px;
    padding: 0px 70px;
}
		/*banner end*/

		/*blog start*/
.blog {
    padding: 45px 0 30px 0;
}

.c_h1 {
    font-size: 35px;}
		/*blog end*/
		/*project start*/
.projects{
	padding-bottom:  60px;
}
.p_text{
	text-align: center;
}
		/*project end*/
		/*slider start*/
.s_text{
	 text-align: center;
	 margin-top: 25px;
}

.li_itm {
    margin:0 25px 0 25px !important;
}
.s_image{
 padding: 0px 70px;
}
		/*slider end*/
		/*newsletter start*/
.n_letter{
	margin-top:0;
}
.news {
    padding-right: 30% !important;
}

}
 
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
		/*header start*/	
header {
    padding: 30px 0;
}
		/*header end*/
		/*banner start*/
.b_item {
    text-align: center;
}
.b_img {
		margin-bottom: 40px;
    padding: 0px 70px;
}
.b_h1 {
    margin: 10px 0 24px;
   font-size: 55px;
		    }
.c_newsletter {
    padding: 0px 60px;}
 .c_form input {
 	width: 78%;
 }

		/*banner end*/
		/*blog start*/
.blog{
	padding: 55px 0 50px 0;
}	
		/*blog end*/
		/*project start*/
.projects{
	padding-bottom:  60px;
}
.p_text{
	text-align: center;
}
		/*project end*/
		/*slider start*/
.s_text {
    margin-top: 40px;
    text-align: center;
}
.li_itm {
    margin:20px 40px 0 40px !important;
}		
		/*slider end*/
		/*newsletter start*/
.n_letter {
    margin-top: 10px;
}

.news {
    padding-right: 25% !important;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	/*banner start*/
.c_p2 {
    padding-right: 25px;
}
	/*banner end*/
	/*slider start*/
.li_itm {
    margin-right: 60px !important;
}
	/*slider start*/
	/*newsletter start*/
	.n_letter {
    margin-top: 40px;
}
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
}
/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) { 
		/*banner*/
.c_p2 {
    padding-right: 94px;
}
}
